.git
.env
__pycache__
*.pyc
build
dist
dist-installer/*-1.0.0.exe
dist-installer/*-1.1.0.exe
dist-installer/*-1.2.0.exe
dist-installer/*-1.2.1.exe
dist-installer/*-1.2.2.exe
static/brand/*-source.png
data/fb_profile
data/server.log
runtime
output
