# .dockerignore
# Files and folders to ignore when building the image
# --- Your existing exclusions ---
offline_routes.csv
Western_LatLon_Full.csv
latlon_KeXin_Jan26.csv
Huggingface_dockerfile.txt
CHP Sites FOR.SG links.xlsx
active_ageing_centres_incremental_w_latlon.csv
AAC_locations.csv
CHP_dataset_with_AAC.csv

__pycache__
*.pyc
*.pyo
*.pyd
.venv
.vscode
.git
.gitignore
.DS_Store
*.log
*.ipynb
venv/