.git
.next
node_modules
backend/node_modules
frontend/.next
frontend/node_modules
python_backend/**/__pycache__
python_backend/**/*.pyc
python_backend/data
python_backend/models/**/*.pt
python_backend/models/**/*.pth
python_backend/models/**/*.bin
python_backend/models/**/*.gguf
python_backend/models/**/*.safetensors
tool
bdfyi.txt
