<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Logcat Analyzer - Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="landing-body">
    
    <div class="top-left-text">LOGCAT AI ANALYZER-AHM</div>
    <div class="top-right-user">
        <div class="avatar"></div>
        <span>Halo, User (Dev Community)</span>
    </div>

    <div class="center-content">
        <h1 class="hero-title">SELAMAT DATANG DI AI<br>LOGCAT ANALYZER</h1>
        <p class="hero-subtitle">Solusi Cerdas Berbasis AI untuk Pemantauan Aplikasi Android Studio</p>
        
        <a href="/dashboard" class="btn-primary">MEMULAI ANALISIS LOGCAT</a>
    </div>

</body>
</html>