--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.4.1+cpu
torchvision==0.19.1+cpu
torchaudio==2.4.1+cpu
transformers
fastapi
uvicorn
pydantic
opencv-python-headless
imageio-ffmpeg
pydub
pillow
huggingface_hub
python-multipart
soundfile
