gradio>=4.0.0
nltk>=3.8.1
spacy>=3.7.2
transformers>=4.39.0
sentencepiece>=0.1.99
torch>=2.2.0
numpy>=1.26.4
sentence-transformers>=2.6.0
google-generativeai
scikit-learn
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz